

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/starter-template/">
    <title>Melanoma-Forecaster</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
      div.container {
        font-size: 20px;
      }
      p.lead {
        font-size: 40px;
      }  
      p.message {
        font-size: 30px;
      }
      p.milk {
        font-style: italic;
      }
      div.form-group {
        font-size: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="starter-template">
        <p>The probability of Sentinel Lymph Node Metastasis is <b>{{the_result}}</b>. </p>
        <p class="lead">Risk Level is <b>{{risk_level}}</b></p> 
        <img src="/static/images/Melanoma-Prevention.jpg", width="620" height="300">
        <p>Limit your exposure to ultraviolet (UV) rays</p>
      </div>
